SENSE_GRAIN_APP_ENV=development
SENSE_GRAIN_FIREBASE_API_KEY=
SENSE_GRAIN_FIREBASE_AUTH_DOMAIN=
SENSE_GRAIN_FIREBASE_PROJECT_ID=
SENSE_GRAIN_FIREBASE_STORAGE_BUCKET=
SENSE_GRAIN_FIREBASE_MESSAGING_SENDER_ID=
SENSE_GRAIN_FIREBASE_APP_ID=
SENSE_GRAIN_HARDWARE_GATEWAY_URL=
